.pageLayout {
    display: grid;
    grid-template-areas: "arg list"
                         "arg list";
    margin:0;
    padding: 0;
    border: none;
    font-family: Arial, sans-serif;
}

.card {
    border:solid green 1px;
    display:grid;
    grid-template-areas: "pic name"
                        
}

.header {
    text-align: center;
    height: 100%;
    color: white;
    background-color: green;
}

.studentArg {
    border-bottom: 2px solid green;
    cursor: pointer;

}