.pageLayout {
    height: 100vh;
    width: 100vw;
    grid-template-areas:
      "header header "
      "cohorts students";
    display: grid;
}

.card {
    display: flex;
  width: 500px;
  height: fit-content;
  border: 1px solid teal;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px lightgrey;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
                        
}

.header {
    text-align: center;
    height: 100%;
    color: white;
    background-color: green;
}

.studentArg {
    border-bottom: 2px solid green;
    cursor: pointer;

}

.showMore {
    display: flex;
    width: 500px;
    height: fit-content;
    border: 1px solid teal;
    border-radius: 5px;
    box-shadow: 3px 3px 3px lightgrey;
    flex-direction: column;
    align-items: center;
}

.insideMore {
  display: flex;
  flex-direction: row;
  
  
}